@model allergenerator.ViewModels.AddCategoryViewModel;

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Add New Category</h1>

    <form asp-controller="Category" asp-action="ProcessAddCategoryForm" method="post">
        <div class="form-group">
            <label asp-for="Name">Category Name</label>
            <input autocomplete="off" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>


        <input type="submit" value="Submit" />
    </form>


    <!-- Page Content -->
</div>
<!-- /#page-content-wrapper -->


