<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Categories of Food</h1>
    <p><a asp-controller="Category" asp-action="Add">Add a Category</a></p>


    <div>
        <ul>
            @foreach (Category category in Model)
            {
                <li>
                    <a asp-controller="Category" asp-action="About" asp-route-id="@category.Id">@category.Name</a>
                </li>
            }
        </ul>
    </div>



    <!-- Page Content -->
</div>
<!-- /#page-content-wrapper -->

