<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>About Us</h1>
    <p>This will be the website's about us section</p>


    <!-- Page Content -->
</div>
<!-- /#page-content-wrapper -->
