@using allergenerator.ViewModels;
@model AddFoodViewModel;

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->
    <h1>Add a Food</h1>

    <form asp-controller="Home" asp-action="ProcessAddFoodForm" method="post">
        <div class="form-group">
            <label asp-for="Name">Food Name</label>
            <input autocomplete="off" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category: </label>
            <select asp-for="CategoryId" asp-items="@Model.Categories"></select>
            <br />
        </div>
        <div class="form-group">
            @foreach (Sensitivity sensitivity in Model.Sensitivities)
            {
                <input type="checkbox" name="selectedSensitivities" value="@sensitivity.Id" /><label asp-for="@sensitivity.Id">@sensitivity.Name</label>
            }
        </div>
        <br />
        <input type="submit" value="Add Food" />
    </form>
    <br />

    <a asp-controller="Category" asp-action="Add">Add New Category</a>
    <br />
    <a asp-controller="Sensitivity" asp-action="Add">Add New Sensitivity</a>

    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->