@model allergenerator.ViewModels.FoodDetailViewModel

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>@Model.Name</h1>

    <table class="table">
        <tr>
            <th>Category</th>
            <td>@Model.CategoryName</td>
        </tr>
        <tr>
            <th>Sensitivity</th>
            <td>@Model.SensitivityText</td>
        </tr>

    </table>

    <a asp-controller="Sensitivity" asp-action="AddFood" asp-route-id="@Model.FoodId">Add sensitivities</a>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->