<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Frequently Asked Questions</h1>
    <br />
    <br />

    <p>* Where can I learn about my personal allergies or intolerances?</p>
    <br />
    <br />
    <p>* Why didn't you include my favorite brand of packaged food?</p>
    <br />
    <br />
    <p>* What does 'The Big 8' mean?</p>
    <br />
    <br />
    <p>* Do all of these common intolerances and allergens have warning labels on foods at the store?</p>
    <br />
    <br />

    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->