<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Privacy Policy</h1>
    <p>This will be the website's privacy policy</p>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->