@model List<allergenerator.Models.FoodSensitivity>

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    @if (Model.Count == 0)
    {
        <h1>No jobs with the given skill!</h1>
    }
    }
    else
    {
    <h1>Foods that trigger this sensitivity: @Model[0].Sensitivity.Name</h1>
    <p>Sensitivity Description: @Model[0].Sensitivity.Description</p>


    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Food.Name</li>
        }
    </ul>




    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->