@model allergenerator.Models.Sensitivity

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->


    <h1>Add New Sensitivity</h1>

    <form asp-controller="Sensitivity" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Name">Sensitivity Name</label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Sensitivity Description</label>
            <input asp-for="Description" />
        </div>
        <input type="submit" value="Submit" />
    </form>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->