@model allergenerator.ViewModels.AddFoodSensitivityViewModel


<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Add Tag to Event: @Model.Food.Name</h1>

    <form asp-controller="Sensitivity" asp-action="AddFood" method="post">
        <input type="hidden" value="@Model.Food.Id" name="FoodId" />
        <div class="form-group">
            <label asp-for="SensitivityId">Sensitivity</label>
            <select asp-for="SensitivityId" asp-items="Model.Sensitivities"></select>
            <span asp-validation-for="SensitivityId"></span>
        </div>
        <input type="submit" value="Add Sensitivities" />
    </form>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->