@model List<allergenerator.Models.Sensitivity>

<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Food Sensitivities We Cover</h1>

    <p><a asp-controller="Sensitivity" asp-action="Add">Add a Sensitivity</a></p>

    <div>
        <ul>
            @foreach (Sensitivity sensitivity in Model)
            {
                <li>
                    <a asp-controller="Sensitivity" asp-action="About" asp-route-id="@sensitivity.Id">@sensitivity.Name</a>
                </li>
            }
        </ul>
    </div>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->