<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>Learn about your specific allergies. </h1>
    <br />
    <br />

    <p>Here will be an index of links to learn about each intolerance/ allergy.</p>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->